:root {
    --my-purple: rgb(114, 25, 114); 
}

@font-face {
    font-family: smokefont;
    src: url(FranceRegular.ttf);
}

html {
    margin: 0;
    background-color: black;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr auto;
    
}


nav {
    display: flex;
    flex-direction: row;
    background-color: gray;
    width: 100%;
    z-index: +10;
    position: fixed;
    border-radius: 10px;
    height: 15%;
    left: 0;
    top: 0;
    margin-bottom: auto;
    box-shadow: 0px 5px 2px rgb(41, 40, 40);
}

ul {
    text-decoration: none;
    color: black;
    display: flex;
    position: relative;
    bottom: -1.5rem;
    gap: 100px;
    font-size: 2rem;
    font-family: smokefont;
    color: rgb(107, 10, 10);
}

li {
    text-decoration: none;
   
}

#canvas2 {
    width: 60vh;
    height: 12vh;
    z-index: +12;
    position: relative;
    top: 1rem;
    
}

#canvas-container1 {
    height: 65vh;
    width: 65vh;
    position: relative;
    
    left: 0;
    text-align: center;

}

#canvas-container2 {
    height: 65vh;
    width: 65vh;
    position: relative;
    
    left: 1rem;
    text-align: center;
}

#button1 {
    color: rgb(85, 84, 84);
    font-family: smokefont;
    font-size: 1.8rem;
    border: 3px solid black;
    padding: 10px;
    
}

p {
    color: red;
    font-size: 2rem;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#canvases {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 5px;
    position: relative;
    top: 7rem;
    height: 85vh;
    width: 150vh;
    overflow-x: hidden;
    left: -4rem;
    
    
    
}

#copyright {
    width: 100%;
    background-color: grey;
    color: purple;
    padding: 35px;
    text-align: center;
    font-weight: 300;
    opacity: 65%;
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    bottom: -100%;
}

#video {
    z-index: +9; 
    position: relative;
    top: 35%;
    left: 0;
    max-width: 100%;
}

#video video {
    object-fit: cover;
}